{% extends 'base.html.twig' %}

    {% block title %}

    {% set societe = query_service.getSociete(1) %}

    {% if societe %}
        {{ societe.libelle }}
    {% else %}
        V&G
    {% endif %}
{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Traiteur passionné<br>pour vos moments d’exception</h1>
            <p>Plats faits maison – Événementiel – Commande en ligne</p>
            <a href="{{ path('menu_index') }}" class="btn btn-primary">
                Découvrir nos menus
            </a>
        </div>
    </section>

    <section class="bloc-section">
        <div class="bloc-content">
            <h1>Une histoire de passion et de goût</h1>
            <p>
                Julie et José ont fondé leur service traiteur avec une ambition simple : proposer une cuisine généreuse,
                élégante et de qualité, adaptée à tous vos événements…
            </p>
        </div>
    </section>

    <!--
    <section class="reviews-carousel">
        <h2>Avis clients vérifiés</h2>

        <div class="carousel">
            <div class="carousel-track">
            </div>
        </div>
    </section>
    -->

{% endblock %}
