// commande pour compiler le scss : npm run dev


// Import de Bootstrap
@use "bootstrap" with (
    $primary: #D35400,
    $secondary: #2c3f66,
    /*
    $success: #27AE60,
    $danger: #C0392B,
    $warning: #F1C40F,
    $info: #3498DB,
    $light: #FDF6E3,
    */
    $dark: #4A4A4A,
    $black: #202020,
    $font-family-sans-serif: ("Open Sans", sans-serif)
);


// CSS global
html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: bootstrap.$primary;
}

input[readonly] {
    cursor: not-allowed;
}

.card-header h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 280px;
    padding: 2rem;
    background-image: url('../images/img_titre.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.9);
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.footer {
    background-color: bootstrap.$dark;
    color: bootstrap.$light;
}

.footer a {
    color: bootstrap.$light;
    text-decoration: none;
}

.footer a:hover {
    color: bootstrap.$warning;
}

.footer-title {
    font-family: "Playfair Display", serif;
    margin-bottom: 1rem;
}

.admin-layout {
    display: flex;
    align-items: stretch;
}

/* Sidebar desktop */
.admin-sidebar {
    width: 250px;
    /* min-height: calc(100dvh - 56px); */
    background-color: var(--bs-secondary);
    transition: width 0.3s ease;
}

.admin-sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.admin-sidebar .nav-text {
    white-space: nowrap;
}

/* Contenu */
.admin-content {
    flex: 1;
    padding: 2rem;
}

/* Mobile */
@media (max-width: 992px) {

    .nav-link {
        font-size: 1.6rem !important;
    }

    .hero-section {
        min-height: 100px;
        padding: 1rem;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .admin-layout {
        /* flex-direction: column; */
    }

    .admin-sidebar {
        width: 70px;

        position: sticky;
        top: 56px; /* hauteur du header */

        padding: 1rem 0.5rem;
        z-index: 10;
    }

    .admin-main {
        margin-left: 0;
        flex: 1;
    }

    .admin-sidebar.open {
        left: 0;
    }

    .admin-content {
        padding: 1.5rem;
    }

    .admin-sidebar .nav-link {
        justify-content: center;
        padding: 0.75rem;
    }

    .admin-sidebar .nav-text {
        display: none !important;
    }

    .admin-sidebar i {
        font-size: 1.3rem;
        line-height: 1;
    }

    table.table {
        font-size: 1.6rem !important;
    }

}
