// commande pour compiler le scss : npm run dev


// Import de Bootstrap
@use "bootstrap" with (
    $primary: #D35400,
    $secondary: #2c3f66,
    /*
    $success: #27AE60,
    $danger: #C0392B,
    $warning: #F1C40F,
    $info: #3498DB,
    $light: #FDF6E3,
    */
    $dark: #4A4A4A,
    $black: #202020,
    $font-family-sans-serif: ("Open Sans", sans-serif)
);


// CSS global
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: bootstrap.$primary;
}

.card-header h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.form-label {
    font-weight: bold;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('../images/img_titre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); // overlay sombre pour contraste texte
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color : #ffffff;
}

.hero-content p {
    font-size: 1.5rem;
}

.bloc-section {
    text-align: center;
    justify-items: center;
    //height: 50vh;
}

.bloc-content {
    width: 50%;
    //height: 100%;
}

.bloc-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.bloc-content p {
    font-size: 1.5rem;
}

.carousel-track {
    transition: transform 0.6s ease-in-out;
}

.footer {
    background-color: bootstrap.$dark;
    color: bootstrap.$light;
}

.footer a {
    color: bootstrap.$light;
    text-decoration: none;
}

.footer a:hover {
    color: bootstrap.$warning;
}

.footer-title {
    font-family: "Playfair Display", serif;
    margin-bottom: 1rem;
}

.layout {
    display: flex;
    min-height: calc(100vh - 120px);
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
}

.content {
    flex: 1;
}


@media (max-width: 1024px) {
    .hero-section {
        height: 50vh;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 40vh;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}

